*{
    margin: 0;
}
.header{
    display: flex;
    gap: 20px;
    float: right;
    margin-top: 1%;
    align-items: center;
    margin-right: 10px;
    
}

.header a{
    color: rgba(0, 0, 0, 0.87);;
    font-size: 15px;
    text-decoration:none;
}

.header a:hover{
    text-decoration: underline;
}

.main_body{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 210vh;
    
}
.main_body>img{
    object-fit: contain;
    height: 100px;
    width: fit-content;
}

.search_inputs{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 999px;
    height: 30px;
    padding: 10px 20px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

.search_inputs input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.search_inputs .a{
    margin-right: 20px;
}

.search_inputs .x{
    height: 20px;

}

.Sbutton {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .Sbutton button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .z{
    height: 30px;
  }